source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget Swashbuckle.AspNetCore

nuget AspNetCore.HealthChecks.Redis
nuget Serilog.AspNetCore
nuget Serilog.Enrichers.ClientInfo
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Extensions.Hosting
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Trace
nuget Serilog.Formatting.Elasticsearch
nuget Serilog.Sinks.Seq
nuget Microsoft.Extensions.Hosting.Abstractions
nuget StronglyTypedId prerelease
nuget RabbitMQ.Stream.Client prerelease
nuget Microsoft.Tye.Extensions.Configuration
nuget FastEndpoints
nuget FastEndpoints.Swagger

nuget Akka
nuget Akka.Persistence
nuget Akka.TestKit.Xunit2
nuget Roslynator.Analyzers
nuget SonarAnalyzer.CSharp
nuget AsyncFixer
nuget LanguageExt.Core
nuget System.Linq.Async
nuget ClrHeapAllocationAnalyzer
nuget StackExchange.Redis

nuget AutoFixture
nuget FluentAssertions
nuget xunit
nuget xunit.runner.visualstudio
nuget Moq
nuget coverlet.collector
nuget Testcontainers
nuget Microsoft.NET.Test.Sdk